<!DOCTYPE html>
<html lang="en">
    <!-- Head partial -->
    <%- include('./partials/head.ejs') %>

    <body>
        <!-- Nav Partial -->
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores, reiciendis! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maiores, reiciendis!
            </p>
            <p>
                Officiis quidem blanditiis ab maiores cumque illum voluptatibus
                quasi veniam. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Maiores, reiciendis!
            </p>
            <p>
                Error mollitia sit a ex, quae exercitationem ducimus eius
                dolore. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Maiores, reiciendis!
            </p>
        </div>
        <!-- Footer partial -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
